@import "base/reset";
@import "base/animations";

@import "utils/variables";

@import "layouts/footer";
@import "layouts/navigation";

@import "components/buttons";
@import "components/likeicon";

@import "pages/index";
@import "pages/menus";

/*
*
{
   box-sizing: border-box; 
}*/
body
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-family: "Roboto";
    overflow-x: hidden;
    h1, h4
    {
        font-family: "Shrikhand";
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    h2, h3 
    {
        font-size: 1.4rem;
        font-weight: 800;
    }
}