
.header--body--btn
{
    text-decoration: none;
    border: none;
    background: linear-gradient($secondary, $primary);
    padding: .9rem 1.5rem .9rem 1.5rem;
    box-shadow: 0px 3px 9px 0.1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    font-family: "Roboto";
    &:hover
    {
        opacity: 0.8;
        box-shadow: 0px 3px 9px 0.1px rgba(0, 0, 0, 0.8);
    }
}

.btn-place
{
    display: flex;
    justify-content: center;
    background-color: $bckground;
    position: relative;
    bottom: 2.9rem;
}

.cmd--btn
{
    text-decoration: none;
    border: none;
    background: linear-gradient($secondary, $primary);
    padding: .9rem 1.5rem .9rem 1.5rem;
    margin: 2.5rem;
    box-shadow: 0px 3px 9px 0.1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    width: 13.5rem;
        a 
        {
            color: white;
        }
        &:hover
        {
            opacity: 0.8;
            box-shadow: 0px 3px 9px 0.1px rgba(0, 0, 0, 0.8);
        }
    }
.header--body--btn:hover
{
    opacity: 0.8;
}
.btn-place
{
    a 
    {
        color: $white;
    }
}
   