.card--like
{
    padding: 1.2rem 1.2rem 1.2rem 0rem;
}
.fa-like
{
    font-size: 1.2rem;
    margin-right:10px;
    position: relative;
    &:hover{
        .far
        {
            display: block;
            position: absolute;
        }
        .fas
        {
            display:block;
        }
    }
    .fas
    {
        color: $primary;
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: SlideUp 0.3s ease-in forwards;    
    }
}

@keyframes SlideUp {
    0%
    {
        transform: scale(0);
    }
    50%
    {
        transform: scale(0.5);  
    }
    100% 
    {
        transform: scale(1);
    }
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}